html {
    font-family:'PT Sans',Arial,sans-serif;
    color: #293e41;
}

h1 {
    font-size: 34px;
    margin: 12px 0 6px 0;
}
.slogan {
    margin: 0 0 16px 0;
    font-size: 19px;
}

table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
}

td.middle {
    background-color: #0182a9;
    border: 1px solid white;
}

td.flagged {
    background-position: 50% 50%;
    background-image: url('/static/images/flag.png');
    background-repeat: no-repeat;
}

td.question {
    background-position: 50% 50%;
    background-image: url('/static/images/question.png');
    background-repeat: no-repeat;
}

td.correct {
    background-position: 50% 50%;
    background-image: url('/static/images/correct.png');
    background-repeat: no-repeat;
}

td.incorrect {
    background-position: 50% 50%;
    background-image: url('/static/images/incorrect.png');
    background-repeat: no-repeat;
}

td.unfound {
    background-position: 50% 50%;
    background-image: url('/static/images/unfound.png');
    background-repeat: no-repeat;
}

td.numbered {
    background-color: grey;
    border: 1px solid white;
    cursor: pointer;
}

td.corner {
    background-color: white;
}

td a:hover, td a:active, td a:link, td a:visited {
    text-decoration: none;
}

p#atom_coords, p#starting_score, p#debug {
    display: none;
}

/* jQuery UI **************************************************************** */
.no-close .ui-dialog-titlebar-close {
    display: none;
}
.ui-widget-header, .ui-dialog-title {
    background-color: #0182a9;
    background-image: none;
}
.ui-widget-header {
    border: 1px solid #016988;
}

.ui-state-default.ui-button-text-only {
    color: #016988;
}
.ui-state-default.ui-state-focus {
    background-color: #eaf4ec;
    background-image: none;
    border-color: #016988;
    border-width: 1px;
    color: black;
}
.ui-state-default.ui-state-hover {
    background-color: #eaf4ec;
    background-image: none;
    border-color: #ccc;
    color: black;
}
