html {
    font-family:'PT Sans',Arial,sans-serif;
    color: #293e41;
}

h1 {
    font-size: 32px;
    margin: 12px 0 6px 0;
}
.slogan {
    margin: 0 0 16px 0;
    font-size: 18px;
}

table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
}

td.inner_default {
    background-color: #0182a9;
    border: 1px solid white;
}

td.outer_default {
    background-color: grey;
    border: 1px solid white;
}

td.corner {
    background-color: white;
}

td a:hover, td a:active, td a:link, td a:visited {
    text-decoration: none;
}

.block_link {
    line-height: 30px;
    height: 100%;
    width: 100%;
    text-align: center;
    color: white;
}
