html {
    font-family:'PT Sans',Arial,sans-serif;
    color: #293e41;
}

h1 {
    font-size: 34px;
    margin: 12px 0 6px 0;
}
.slogan {
    margin: 0 0 16px 0;
    font-size: 19px;
}

table {
    border-collapse: collapse;
}

td {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: white;
}

td.middle {
    background-color: #0182a9;
    border: 1px solid white;
}

td.flagged {
    background-position: 50% 50%;
    background-image: url('/static/images/flag.png');
    background-repeat: no-repeat;
}

td.question {
    background-position: 50% 50%;
    background-image: url('/static/images/question.png');
    background-repeat: no-repeat;
}

td.numbered {
    background-color: grey;
    border: 1px solid white;
    cursor: pointer;
}

td.corner {
    background-color: white;
}

td a:hover, td a:active, td a:link, td a:visited {
    text-decoration: none;
}

p#coords {
    display: none;
}

